*{
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
  color: #333333;
}

body{
  margin: 0;
  margin-top: 4em;
  padding:0;

}

/*NAV MENU HERE*/
nav{
  display: flex;
    flex-wrap: nowrap;
    align-items: center;
  position: fixed;
  background-color: #f9f8f7;
  font-size: 16pt;
  width: 100%;
  top: 0;

  box-shadow: 0px 0px 6px #333333;
}

.nav-button{

}

.nav-link{
  display: block;
  padding: .5em 1em;
  text-decoration: none;

  transition: 1.5s;
}

.nav-link:hover{
  background-color: pink;

}

.nav-link:active{
  transition: 0s;
  background-color: #d09690;
}

.socialmedia a i{
  color: #666666;
}

/*SECTION STUFF HERE*/
[class*="section"]{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.sect-welcome{
  background-color: #f9f8f7;
}

.sect-1-row{
  flex: 1 1 100%;
  height: auto;
}


.page-heading{
  display: block;
  margin: 0 auto;
  font-size: 7rem;
  text-align: center;
  color: #666666;
  font-family: 'Archivo Black', sans-serif;
  padding: 0;
}

.section-lightpink{
  background-color: #fceaef;
  flex-wrap: wrap;
}

.sect-2-column{
  display: block;
  flex: 1 1 50%;
  height: 100%;
}

.sect-2-image{
  display: block;
  width: 100%;
}

.heading-2{
  margin: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  text-align: left;
  font-family: 'Archivo Black', sans-serif;
  color: #666666;
  flex: 1 1 auto;
}

.intro_para{
  margin: 0;
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
  flex: 1 1 auto;
}

#contact{
}

.section-pink{
  background-color: #f4cdc6;
}

.sect-3-column{
  display: block;
  height: 100%;
}

.sect-3-column > * {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;

}

.sect-3-column.left{
  flex: 1 1 25%;
}


.sect-3-column.right{
  flex: 1 1 75%;
}

.address{
  text-align: center;
  color: #777777;
}

.directions{
  background-color: #f4cdc6;
    color: #444444;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    transition: 1.5s;
    font-family: 'Archivo Black', sans-serif;
    text-decoration: none;
    margin-bottom: 2rem;
}

.directions:active{
  transition: 0s;
  color: #f9f8f7
}

.e-mail{
  text-align: center;
  font-size: 1.3rem;
}

.email, .email:active, .email:visited{
  text-align: center;
  text-decoration: none;
  margin-bottom: 2rem;
  color: #777777;
}

.email:hover{
  text-decoration: underline;
}

.phone{
  text-align: center;
  font-size: 1.3rem;
}

.phonenumber{
  text-align: center;
  margin-bottom: 2rem;
  color: #777777;
}

.connect{
  text-align: center;
  font-size: 1.3rem;
}

.sect-3-icons{
  margin-bottom: 2rem;
}

.sect-3-icons a i{
  color: #777777;
}

#portfolio{

}
.section-darkpink{
  background-color: #d09690;
  min-height:;
}

.header-portfolio{
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 11rem;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  color: #444444;
  flex: 1 1 auto;
}

.gallery {
    border: 1px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
